{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid w-25 mt-2">
    {{ form(form) }}
    <a href="javascript:history.back()" class="btn btn-outline-darklight">Retour</a>
</div>

{% endblock %}

{% block title %}Upload de photo de profil{% endblock %}