{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>Filtrer les sorties</h3>

        {{ form(formFilter) }}

        <div class="text-center">
            <a class="btn-outline-primary btn" href="{{ path('app_event_create') }}">Ajouter une sortie</a>
            <button class="btn-outline-primary btn" id="changeDisplayType" >Changer type de vue</button>
        </div>
        <div class="mt-5">
            {% if events|length > 0 %}
                <div id="tableViewType">
                    {% include '/event/tableView.html.twig' with {'events': events} %}
                </div>
                <div id="cardViewType">
                    {% include '/event/cardView.html.twig' with {'events': events} %}
                </div>
            {% else %}
                <div>
                    <h4 class="text-danger">Aucune sortie trouvée</h4>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascripts_end %}
    <script src="{{ asset('./build/js/events.js') }}"></script>
    {#    {{ encore_entry_link_tags('app') }}#}
{% endblock %}
