{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="text-center">
            <h2>Créer une sortie</h2>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn-primary btn" type="submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
