{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div>
        <div class="container d-flex justify-content-center mt-2">
            <h1 class="fst-italic text-primary">Inscrire un nouvel utilisateur</h1>
        </div>

        <div class="container-fluid w-25 mt-2">
            {{ form_errors(registrationForm) }}
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
