.btn-dark-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #d3d4d5;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}
:root {
    --main-color: #1e90ff;
}
.text-base-blue {
    color: var(--main-color) !important;
}
.form-label {
    font-weight: 500;
    margin-top: 10px;
}
.btn-outline-main {
    border: 1px var(--main-color) solid;
    color: var(--main-color);
}
.btn-outline-main:hover, .btn-outline-main:focus {
    background-color: var(--main-color);
    color: white;
}
.btn-outline-darklight {
    border: 1px gray solid;
    color: gray;
}
.btn-outline-darklight:hover, .btn-outline-darklight:focus {
    background-color: gray;
    color: white;
}
h1,h3 {
    text-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
    font-family: auto;
}
.form-center .mb-3 {
    display: inline-block;
}
.navbar-brand img {
    margin-top: -30px;
}
.disabled {
    border: none;
    background-color: transparent !important;
    padding-left: 0px;
}
label.required {
    position: relative;
}
label.required:before {
    content: "*";
    color: red;
    position: absolute;
    right: -10px;
}
#create_event {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#create_event .container {
    justify-content: center;
}
#create_event .container .save-publish .mb-3{
    width: auto;
}
#create_event .container .save-publish {
    margin-top: 50px;
}
.form-select, .form-control {
    width: auto;
}

.mb-3 label{
    margin-right: 20px;
}