.btn-dark-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #d3d4d5;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}
.navbar-brand img {
    margin-top: -5px;
}
input, select, textarea {
    border: 2px black solid !important;
}
.disabled {
    border: none;
    background-color: transparent !important;
}
label.required {
    position: relative;
}
label.required:before {
    content: "*";
    color: red;
    position: absolute;
    right: -10px;
}
#create_event {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#create_event .container {
    justify-content: center;
}
#create_event .container .save-publish .mb-3{
    width: auto;
}
#create_event .container .save-publish {
    margin-top: 50px;
}
.mb-3 {
    display: flex;
    align-items: center;
}
.form-select, .form-control {
    width: auto;
}
.mb-3 label{
    margin-right: 20px;
}